RetrofitWorkOrder/I1008_CRM_to_ACE_WorkOrder/src/main/resources/wsdl/WorkOrderSetEntityGET5.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="WorkOrderSet">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="WorkOrder">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="order_guid" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="case_id" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="account_name" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="account_id" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="order_id" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="ext_ref" xmlns=""/>
                            <xs:element type="xs:dateTime" nillable="false" maxOccurs="1" name="ref_date" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="sales_org" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="service_org" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="dis_channel" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="division" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="object_id" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="object_guid" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="user_status" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="add_status" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="loaner_status" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="next_step" xmlns=""/>
                            <xs:element type="xs:dateTime" nillable="false" maxOccurs="1" name="req_start_date" xmlns=""/>
                            <xs:element type="xs:dateTime" nillable="false" maxOccurs="1" name="req_end_date" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="contract_no" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="contract_class" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="device_age" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="repair_approval" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="price_limit_currency" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="price_limit" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="order_type_cat" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="ret_def_parts" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="direct_del" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="pickup_srv" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="fault_desc" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="etq_death" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="etq_pot_death" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="etq_qua_issue" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="contact_id" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="user_status_description" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="etq_intake_code" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="etq_final_code" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="ext_ref_obj" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="shipping_address" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="product_id" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="product_guid" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="transaction_type" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="workshop_id" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="assignment_type" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="customer_accessories" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="internal_note" xmlns=""/>
                            <xs:element type="xs:decimal" nillable="false" maxOccurs="1" name="net_value_rrr" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="net_value_rrr_currency" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="mul_inst" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="etq_event_desc" xmlns=""/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
